BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Right
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
ContinuationIndentWidth: 4
SortIncludes: false
